
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Panel Mesero</title>

    <!-- CSS principal del mesero -->
  @*   <link rel="stylesheet" href="~/css/Admin.css" /> *@
    <link rel="stylesheet" href="~/css/mes.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <header class="top-bar">
        <div class="header-left">
            <img src="~/img/usuarios.png" alt="Usuario" class="user-logo" />
            <div>
                <h2>Panel Mesero</h2>
                <p>Bienvenido</p>
            </div>
        </div>
        <div class="header-right">
            <button class="icon-btn"><i class="fa-solid fa-rotate-right"></i></button>
            <button class="icon-btn"><i class="fa-solid fa-right-from-bracket"></i> Salir</button>
        </div>
    </header>

    <main class="content">
        @RenderBody() 
    </main>

</body>
</html>
