<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Cocina</title>
    <link href="~/css/Shared.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="header-left">
            <img src="usuarios.png" alt="Usuarios">
            <div>
                <h2>Panel Cocina</h2>
                <small>Bienvenido</small>
            </div>
        </div>
        <div class="header-right">
            <button class="btn-header">
                <img src="sincronizar.png" alt="Sync">

            </button>
            <button class="btn-header">
                <img src="opcion-de-cerrar-sesion.png" alt="Salir">
                Salir
            </button>
        </div>
    </header>

 
</body>
</html>
